.container {
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 8rem); /* Vollbildhöhe minus Navbar und Footer */
}

.overlayContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image.show {
  opacity: 1;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem; /* Standardgröße für mobile Geräte */
  font-family: 'Playfair Display', serif;
  color: white;
  margin: 0;
}

/* Medienabfragen für größere Bildschirme */
@media (min-width: 600px) {
  .title {
    font-size: 10rem;
  }
}

@media (min-width: 900px) {
  .title {
    font-size: 15rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 20rem;
  }
}
