/* src/styles/Home.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  background-color: #f0f0f0; /* Optional: Hintergrundfarbe hinzufügen */
}

.overlayContainer {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white; /* Optional: Textfarbe */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: Textschatten für bessere Lesbarkeit */
  margin: 0;
}
