/* Standardstile für mobile Geräte */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

.logo {
  padding: 2rem 1rem 0 1rem; /* Einheitliche Polsterung */
}

.menuButton {
  padding: 2rem 1rem 0 0; /* Einheitliche Polsterung */
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none; /* Safari-Unterstützung */
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav {
  position: fixed;
  top: 4rem; /* Platz für die fixe Navbar */
  left: 0;
  width: 100%;
  height: calc(100% - 4.2rem); /* Höhe abzüglich der Navbar */
  background-color: white; /* Hintergrundfarbe für das Dropdown-Menü */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  z-index: 999;
}

.nav.open {
  max-height: calc(100vh - 4rem); /* Erhöhe die maximale Höhe für sichtbare Elemente */
}

.navList {
  list-style: none; /* Entferne die Punkte vor den <li>-Elementen */
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: #f0f0f0;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.footerOpen {
  opacity: 1;
  transform: translateY(0);
}

.footerItem {
  margin: 0;
}

@media (min-width: 600px) {
  .nav {
    position: fixed;
    top: 4rem;
    right: 0;
    left: auto;
    width: 20rem;
    height: calc(100vh - 5.5rem);
    transition: max-height 0.3s ease-in-out;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
  }

  .logo,
  .menuButton {
    padding: 2rem 2rem 0 2rem;
  }

  .footerList {
    display: none;
  }
}


@media (min-width: 900px) {
  .logo,
  .menuButton {
    padding: 2rem 3rem 0 3rem;
  }
}

@media (min-width: 1200px) {
  .logo,
  .menuButton {
    padding: 2rem 4rem 0 4rem;
  }
}
