/* Play.module.css */
.container {
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 8rem); /* Vollbildhöhe minus Navbar und Footer */
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image {
  object-fit: cover;
}
