.constructionOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(217, 101, 101, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlayContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image.show {
  opacity: 1;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 28vw;
  font-family: 'Playfair Display', serif;
  color: white;
  margin: 0;
}

.description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem; /* Standard-Schriftgröße */
}

.marquee {
  position: fixed; /* Fest am oberen Bildschirmrand */
  top: 0; /* Platzierung oben */
  left: 0; /* Platzierung links */
  width: 100%; /* Volle Breite */
  height: 50px; /* Höhe des Banners */
  background-color: rgba(0, 0, 0, 0.8); /* Dunkler Hintergrund */
  color: white; /* Weiße Schrift */
  z-index: 10000; /* Oberste Schicht */
  overflow: hidden; /* Verstecke den Überlauf */
}

.marquee p {
  display: inline-block; /* Inline-Block-Element */
  white-space: nowrap; /* Kein Zeilenumbruch */
  padding-left: 100%; /* Starten außerhalb des Sichtbereichs */
  animation: marquee 15s linear infinite; /* Animation */
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Startposition */
  }
  100% {
    transform: translateX(-100%); /* Verschiebt den Text vollständig nach links */
  }
}

@media (max-width: 600px) {
  .description {
    font-size: 0.8rem; /* Kleinere Schriftgröße für Mobilgeräte */
  }
}

@media (min-width: 600px) {
  .container {
    height: calc(100vh - 4rem);
  }
}

@media (min-width: 900px) {
  .container {
    height: calc(100vh - 6rem);
  }
}

@media (min-width: 1200px) {
  .container {
    height: calc(100vh - 7rem);
  }
}
