.contentContainer {
  height: 100vh; /* Höhe des Viewports */
  overflow: hidden; /* Verhindert das Scrollen */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Inhalt vertikal */
}

.rightSidebar {
  position: fixed;
  right: 0;
  top: 0;
  /* width: 4em; Breite des Balkens */
  height: 100vh; /* Höhe des Balkens */
  background-color: white; /* Hintergrundfarbe */
  z-index: 1000; /* Damit der Balken über anderen Inhalten liegt */
}

@media (min-width: 600px) {

  .contentContainer {
    height: 100vh;
  }

  .pageContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .rightSidebar {
    width: 2em;
  }
}

@media (min-width: 900px) {

  .contentContainer {
    height: 95vh;
  }
  .pageContainer {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
  }

  .rightSidebar {
    width: 3em;
  }

}

@media (min-width: 1200px) {

  .contentContainer {
    height: 93vh;
  }
  .pageContainer {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
  }

  .rightSidebar {
    width: 3em;
  }
}
