/* LegalPage.module.css */
.container {
  min-height: 100vh;
  overflow-y: auto;
  line-height: 1;
}

.text {
  margin: 0 auto;
  width: 95vw;
  margin-top: 5em;
  margin-bottom: 10em;
  line-height: 1;
}

@media (min-width: 768px) {



  .text {
    width: 75%;
    margin-left: 0;
    padding-left: 0;
    margin-top: 8em;
  }
}
