.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.whiteBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 4em;
  height: 100vh;
  background: white;
  z-index: 999;
}

.modalContent {
  position: relative;
  width: 100vw; /* Breite auf 100% setzen */
  height: 100vh; /* Höhe auf 100% setzen */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4em; /* Platz für den weißen Balken */
  overflow: hidden;
}

.modalImageWrapper {
  position: relative;
  width: calc(100% - 8em); /* Platz für Buttons links und rechts */
  height: 100vh; /* Höhe auf 100% setzen */
}

.modalImage {
  object-fit: contain;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: black; /* Farbe für bessere Sichtbarkeit */
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 1rem;
  border-radius: 50%;
}

.prevButton {
  left: 1rem;
}

.nextButton {
  right: 1rem;
  z-index: 1000;

}

.closeButtonContainer {
  position: absolute;
  top: 0;
  right: 4em; /* Positionierung am rechten Rand, aber innerhalb des weißen Balkens */
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background: none;
  border: none;
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: bold;
  padding: 2rem 0 0 0;
}

.closeButtonContainer::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.closeButton:hover {
  text-decoration: underline;
}

.carouselDots {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot,
.activeDot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}

.dot {
  background-color: black;
}

.activeDot {
  background-color: white;
  border: 2px solid black;
}
