.modalOverlay {
  position: fixed;
  top: 0; /* Stelle sicher, dass es oben auf der Seite beginnt */
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Überlagert die Seite */
}

.modalContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalImageWrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Übernimmt die volle Höhe des Viewports */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Bild wird in den Container eingefügt */
}

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Das Bild füllt den Container proportional aus */
}

.closeButtonContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
}


.modalContent {
  width: 86vw;
  height: 90vh;
  /* background-color: black; */
  padding: 4rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.modalImage {
  object-fit: contain;
}

.closeButtonContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

.closeButton {
  background: none;
  border: none;
  color: black;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
}

.carouselDots {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot,
.activeDot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot {
  background-color: black;
}

.activeDot {
  background-color: white;
  border: 1px solid black;
}
