/* Standard styles for mobile devices */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  font-weight: bold !important;
  padding-bottom: 0.1em;
}

.navbar::after {
  content: "";
  display: block;
  width: 100vw;
  margin: 0 auto;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  padding: 1rem 0rem 0 .5rem;
}

.logo .title {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  position: relative;
  text-decoration: none;
  cursor: pointer;

  /* Wichtig für das Abschneiden */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; /* Notwendig für `text-overflow` */
  max-width: calc(100% - 2rem); /* Passe die maximale Breite an */
}

.logo .title.overflow {
  color: red; /* Beispiel, um zu sehen, wann abgeschnitten wird */
  text-overflow: ellipsis;
}

.menuButton {
  padding: 1rem .5rem 0 0;
  cursor: pointer;
  font-size: 1.6rem;
  user-select: none;
  -webkit-user-select: none;
}

.menuButton:hover {
  text-decoration: underline;
}

.nav {
  position: fixed;
  top: 3rem;
  right: -100%;
  width: 100%;
  height: calc(100% - 3rem);
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav.open {
  transform: translateX(-100%);
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold !important;
  margin-top: 1em;
  font-size: 1.2rem;
  left: .5rem;
  position: absolute;
}

.navList a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: left;
}

.navList a:hover {
  text-decoration: underline;
}

.link {
  display: block;
  padding-bottom: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  right: 0.5rem;
  top: 17rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}

.footerOpen {
  opacity: 1;
  transform: translateY(0);
}

.footerItem {
  text-align: right;
}

.languageSwitch {
  display: flex;
  justify-content: flex-end; /* Sprache rechtsbündig */
  gap: 0.3rem;
}

.languageLink {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.languageLink:hover,
.languageLink.active {
  text-decoration: underline;
}



/* For desktop version */
@media (min-width: 600px) {
  .nav {
    right: -20rem;
    width: 20rem;
    top: 4rem;
  }

  .navList {
    margin-top: 2em;
    left: 2rem;
  }

  .nav.open {
    transform: translateX(-20rem);
    margin-right: 2em;
  }

  .logo,
  .menuButton {
    padding: 2rem 2rem 0 2rem;
  }

  .navbar::after {
    width: calc(100% - 4rem);
  }

  .logo .title {
    max-width: 100%;
}

@media (min-width: 900px) {
  .logo,
  .menuButton {
    padding: 2rem 5rem 0 5rem;
  }

  .nav.open {
    transform: translateX(-22rem);
    margin-right: 3em;
  }

  .navbar::after {
    width: calc(100% - 10rem); /* Matches the padding */
  }
}

@media (min-width: 1200px) {
  .logo,
  .menuButton {
    padding: 2rem 7rem 0 7rem;
  }

  .nav.open {
    transform: translateX(-26rem);
    margin-right: 1em;
  }

  .navbar::after {
    width: calc(100% - 14rem);
  }
}
}
