/* Basis-Stile für die Seite */
.pageContainer {
  width: 100%;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.contentContainer {
  background-color: white;
}

.title {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  line-height: 1;
  margin-bottom: 0em;
}

.subtitle {
  font-size: 1.3rem;
  color: white;
  display: inline-block;
  max-width: 95vw;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: normal;
}

.subtitle span {
  display: inline;
  background: black;
  padding-top: .2em;
  padding-bottom: .2em;
}

.subtitle span:first-child {
  padding-left:.5em;
}

.subtitle span:last-child {
  padding-right:0.5em;
  line-height: 1.9;
}

.titleDesktop {
  display: none;
}

.subtitleDesktop {
  display: none;
}

.details {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.details .label {
  background-color: black;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  display: block;
  width: 100%;
}

.details .value {
  color: black;
  padding: 0.3rem;
  display: block;
  width: 95%;
  background-color: white;
}

.details p {
  margin: 0;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image.show {
  opacity: 1;
}

.carousel {
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  margin-bottom: 1rem;
  margin-top: 2em;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.carouselImage {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carouselImage.show {
  opacity: 1;
}

.carouselWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselDots {
  display: flex;
  justify-content: center;
}

.dot,
.activeDot {
  height: 1em;
  width: 1em;
  margin: 0 .3em;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot {
  background-color: black;
  border: 1px solid white;
}

.activeDot {
  background-color: white;
  border: 1px solid black;
}

.carouselCredits {
  display: flex;
  flex-direction: column; /* Elemente untereinander anordnen */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 1em;
  max-width: 95vw;
  min-height: 1rem; /* Mindesthöhe hinzufügen */
  height: auto; /* Automatische Höhe für die Inhalte */
  transition: height 0.3s ease-in-out; /* Optional: Weiche Übergänge */
}
.carouselCredits {
  height: 1rem; /* Temporär eine feste Höhe setzen */
}



.creditLine {
  width: 100%;
  text-align: center;
  padding: 0.2rem 0;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: black;
  margin-top: 3rem;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.description,
.textright {
  margin: 2rem auto;
  max-width: 95vw;
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 1.3;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
  font-size: 1.2rem;
}

.mobileImages {
  display: none;
}

.desktopImages {
  display: block;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: black;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton {
  font-size: 3rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.horizontalLine {
  border: none;
  border-top: 1px solid black;
  margin: 1rem 0;
}

.logoSection {
  text-align: center;
  margin-bottom: 10em;
}

.logoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.logoWrapper {
  width: 100%;
  height: auto;
}

.logoImage {
  width: 80%;
  height: auto;
  object-fit: contain;
}

@media only screen and (max-width: 767px) {
  .mobileImages {
    display: block;
  }

  .desktopImages {
    display: none;
  }

  .mobileImages .image {
    margin-top: 2em;
    height: 80vh;
    width: 100%;
    object-fit: cover;
  }

  .mobileImages .image.show {
    opacity: 1;
  }

  .mobileImages .imageContainer {
    position: relative;
    width: 100%;
    height: 92vh;
  }

  .logoContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
    gap: 2rem;
  }

  .playDesktop {
    padding-top: 5em;
  }

  .imageContainer {
    height: 93vh;
  }

  .textContainer {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding-right: 2rem;
    position: relative;
    height: auto;
    min-height: 100vh;
    flex-direction: column; /* Flexbox Layout verwenden */
  }

  .textContainer::before {
    content: '';
    position: absolute;
    top: 5em;
    height: 100%; /* Höhe immer auf 100% der Spalte setzen */
    right: 0;
    width: 1px;
    background-color: black;
  }

  .textright {
    margin-top: 1rem;
    max-width: 100%;
    text-align: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  .carousel {
    aspect-ratio: 3 / 2;
  }

  .carouselVideoContainer {
    flex: 2;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .carouselDots {
    bottom: 5%;
  }

  .carouselCredits {
    bottom: 1%;
  }

  .title, .subtitle {
    display: none;
  }

  .titleDesktop {
    display: block;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0em;
  }

  .subtitleDesktop {
    font-size: 1.3rem;
    color: white;
    display: inline;
    max-width: 70vw;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: -0.6em;
    line-height: 1.8;
  }

  .subtitleDesktop span {
    display: inline;
    background: black;
    padding-top: .2em;
    padding-bottom: .2em;
  }

  .subtitleDesktop span:first-child {
    padding-left:.5em;
  }

  .subtitleDesktop span:last-child {
    padding-right:0.5em;
    line-height: 1.9;
  }


  .description {
    margin-top: 1rem;
    margin-bottom: 5rem;
    max-width: 100%;
  }

  .textright {
    margin-top: 1rem;
    max-width: 100%;
    text-align: left;
  }

  .desktopOnly {
    display: block;
  }

  .logoSection {
    margin-bottom: 0em;
  }

}
